{% extends "base.html" %}
{% set active_page = "page.draw" %}

{% block content %}
<div class="row text-center">
    <div class="col-lg-12">
        <h1>Image Drawer</h1>
        <p class="lead">Create an image to send to the printer!</p>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <a class="btn btn-warning" id="clear">Clear</a>
        <a class="btn btn-default" id="shorter">Shorter</a>
        <a class="btn btn-default" id="taller">Taller</a>
        <a class="btn btn-primary" id="save">Save</a>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-12">
        <canvas style="border: 1px solid black" id="app" width="768" height="128"></canvas>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/paper-full.min.js"></script>
<script src="/static/imagedraw.js"></script>
{% endblock %}

