{% extends "base.html" %}
{% set active_page = "page.index" %}

{% block content %}
{% if not g.user.is_authenticated %}
<div class="row text-center">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Paper Waster</h1>
            <p class="lead">Submit messages and images and watch them print live on a thermal printer!</p>
        </div>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <div>
        <a class="narrow-vpadding" href="{{ url_for('page.authorize', provider='twitch') }}"><img src="/static/twitch-login.png"/></a> to draw images!
        </div>
        <div>
            Once you've connected your Twitch account you will be able to send messages and draw images to send to the printer.
        </div>
    </div>
</div>
{% endif %}

{% if show_stream %}
<div class="row text-center bottom-buffer">
    <a class="btn btn-info btn-xs pull-right" href="{{url_for('page.index', stream='no')}}">Hide Stream</a>
</div>
<div class="row text-center bottom-buffer">
    <div class="col-lg-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.twitch.tv/?channel=talon876" class="embed-responsive-item" allowfullscreen="true" scrolling="no"></iframe>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-4by3 chat-embed">
            <iframe src="https://www.twitch.tv/talon876/chat?popout=" class="embed-responsive-item" allowfullscreen="true" height="500" scrolling="no"></iframe>
        </div>
    </div>
</div>
{% else %}
<div class="row text-center bottom-buffer">
    <a class="btn btn-info" href="{{url_for('page.index')}}">Show Stream</a>
</div>
{% endif %}

{% if g.user.is_authenticated %}
<div class="row bottom-buffer">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <select id="fontSizeField" style="width:15%" class="selectpicker form-control" title="Select Text Size">
                <option value="medium">Text Size</option>
                <option style="font-size: 16px" value="tiny">Tiny</option>
                <option style="font-size: 22px" value="small">Small</option>
                <option style="font-size: 30px" value="medium">Medium</option>
                <option style="font-size: 36px" value="large">Large</option>
            </select>
            <input style="width:85%" autofocus autocomplete="off" type="text" maxlength="512"
                   class="form-control input-lg" id="messageField" placeholder="Print a message...">
            <span class="input-group-btn">
                <button id="sendMessage" class="btn btn-primary btn-lg" type="submit">
                    <span class="glyphicon glyphicon-print right-buffer"></span> Print
                </button>
            </span>
        </div>
    </div>
</div>

<hr>

<div class="row bottom-buffer text-center">
    <div class="col-lg-12">
        <div class="btn-group" role="group">
            <a class="btn btn-lg btn-warning" id="clear"><span class="glyphicon glyphicon-trash right-buffer"></span>Clear</a>
            <a class="btn btn-lg btn-default" id="shorter">Shorter</a>
            <a class="btn btn-lg btn-default" id="taller">Taller</a>
            <a class="btn btn-lg btn-primary" id="print"><span class="glyphicon glyphicon-print right-buffer"></span> Print</a>
        </div>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <canvas style="border: 1px solid black" id="app" width="768" height="768"></canvas>
    </div>
</div>
{% else %}
<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <a href="{{ url_for('page.authorize', provider='twitch') }}">
            <img src="{{url_for('static', filename='editor-placeholder.png')}}"/>
        </a>
    </div>
</div>

{% endif %}

<hr>
<div class="row text-center text-muted">
    Please consider a <a id="donationLink" class="btn btn-xs btn-success" href="{{url_for('page.donate')}}">small donation</a><span class="donation-message" id='donationReason'></span>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/paper-full.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/static/paperwaster.js"></script>
{% endblock %}
