{% extends "base.html" %}
{% set active_page = "page.index" %}

{% block content %}
{% if not g.user.is_authenticated %}
<div class="row text-center">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Paper Waster</h1>
            <p class="lead">Submit messages and images and watch them print live on a thermal printer!</p>
        </div>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <div>
        <a class="narrow-vpadding" href="{{ url_for('page.authorize', provider='twitch') }}"><img src="/static/twitch-login.png"/></a> to draw images!
        </div>
    </div>
</div>
{% else %}

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <a class="btn btn-info" href="{{url_for('page.live')}}">View Stream</a>
    </div>
</div>

{% endif %}

{% endblock %}
