{% extends "base.html" %}
{% set active_page = "page.index" %}

{% block content %}
<div id="donateApp">

{% if not g.user.is_authenticated %}
<div class="row text-center">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Paper Waster</h1>
            <p class="lead">Submit messages and images and watch them print live on a thermal printer!</p>
        </div>
    </div>
</div>

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <div>
        <a class="narrow-vpadding" href="{{ url_for('page.authorize', provider='twitch') }}"><img src="/static/twitch-login.png"/></a> to draw images!
        </div>
        <div>
            Once you've connected your Twitch account you will be able to send messages and draw images to send to the printer.
        </div>
    </div>
</div>
{% endif %}

<twitch-stream username="talon876"></twitch-stream>

{% if g.user.is_authenticated %}
<div class="row bottom-buffer">
    <div class="col-lg-12">
        <message-form :font-sizes="[
            { value: 'tiny', label: 'Tiny', size: 16 },
            { value: 'small', label: 'Small', size: 22 },
            { value: 'medium', label: 'Medium', size: 30 },
            { value: 'large', label: 'Large', size: 36 }]"/>
    </div>
</div>

<hr>

<image-form></image-form>

{% else %}
<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <a href="{{ url_for('page.authorize', provider='twitch') }}">
            <img src="{{url_for('static', filename='editor-placeholder.png')}}"/>
        </a>
    </div>
</div>

{% endif %}

<hr>
<div class="row text-center text-muted">
    <donate-message donate-url="{{url_for('page.donate')}}" :initial-delay="30*1000" :delay="30*1000" :reasons="[
        'to help keep things running!',
        'to buy me a drink!',
        'to waste more paper!',
        'to end the war on paper!',
        'to become a meme lord!',
        'to raise your power level to over 9000!',
        'for no particular reason.',
        '...please?',
        'because why not?',
        'because you\'re awesome!',
        'because the voices told you to...',
        ]">
    </donate-message>
</div>

</div>
{% endblock %}

{% block scripts %}
{% if debug %}
<script src="//unpkg.com/vue@2.4.2"></script>
{% else %}
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.core.min.js"></script>
<script src="/static/paper-full.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/static/app.js"></script>
{% endblock %}
