{% extends "base.html" %}
{% set active_page = "page.live" %}

{% block content %}

<div class="row text-center">
    <div class="col-lg-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.twitch.tv/?channel=talon876" class="embed-responsive-item" allowfullscreen="true" scrolling="no"></iframe>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-4by3 chat-embed">
            <iframe src="https://www.twitch.tv/talon876/chat?popout=" class="embed-responsive-item" allowfullscreen="true" height="500" scrolling="no"></iframe>
        </div>
    </div>
</div>

{% if not g.user.is_authenticated %}

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <div>
        <a class="narrow-vpadding" href="{{ url_for('page.authorize', provider='twitch') }}"><img src="/static/twitch-login.png"/></a> to draw images!
        </div>
    </div>
</div>

{% else %}

<div class="row text-center bottom-buffer">
    <div class="col-lg-12">
        <a class="btn btn-warning" id="clear">Clear</a>
        <a class="btn btn-default" id="shorter">Shorter</a>
        <a class="btn btn-default" id="taller">Taller</a>
        <a class="btn btn-primary" id="print">Print</a>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-12">
        <canvas style="border: 1px solid black" id="app" width="768" height="128"></canvas>
    </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
<script src="/static/paper-full.min.js"></script>
<script src="/static/imagedraw.js"></script>
{% endblock %}
